@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, a, p {
    font-family: Verdana;
}

h1 {
    font-size: 3rem /* 48px */;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
    line-height: 1;
}

h3 {
    font-size: 2rem;
    line-height: 1;
}

h4 {
    font-size: 1.5rem
}

p.alert-p-content {
    font-size: 0.8rem;
}

p, a {
    font-size: 1rem;
}

td, tr {
    padding: 2%;
}

tr {
    border-bottom: 1px black solid;
}

.sidebar-link {
    /* background-color: #008970; */
    width: 100%;
    min-height: 3rem;
    border-radius: 0.5rem;
    padding: 5%;
}

.color-circle {
    width: 2rem; /* Width of the circle */
    height: 2rem; /* Height of the circle */
    border-radius: 50%; /* Make it circular */
    margin-right: 2px; /* Space between circle and text */
    margin-bottom: 1.2rem;
  }

.sidebar-link:hover {
    background-color: #83ABD0FF;   
}

.body-nav-text:hover {
    color: #83ABD0E5;  
}

.offer-button:hover {
    color: #54433AE5;
}



.data-table td {
    text-align: center;
}

.data-table th  {
    padding: 4%
}

.data-table td:hover {
    background-color: color-mix(in srgb, currentColor 25%, transparent);
}

p.data-increase {
    color: #28A745;
}

p.data-decrease {
    color: #BD0202;
}

.dash-img-div {
    background-image: url("../images/lineChart.png");
}