@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, a, p {
    font-family: Verdana;
}

h1 {
    font-size: 3rem /* 48px */;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
    line-height: 1;
}

h3 {
    font-size: 2rem;
    line-height: 1;
}

h4 {
    font-size: 1.5rem
}

p, a {
    font-size: 1rem;
}

td, tr {
    padding: 2%;
}

tr {
    border-bottom: 1px black solid;
}

.sidebar-link {
    /* background-color: #008970; */
    width: 100%;
    min-height: 3rem;
    border-radius: 0.5rem;
    padding: 5%;
}

.sidebar-link:hover {
    background-color: #0089704C;   
}

.body-nav-text:hover {
    color: #00C0A34C;  
}

.offer-button:hover {
    color: #54433AE5;
}